{
    "server": "0.0.0.0",
    "port_password": {
         "{{ shadowsocks_server_port }}": "{{ shadowsocks_password }}"
    },
    "timeout": 300,
    "method": "{{ shadowsocks_method }}",
    "fast_open": false
}
