# {{ ansible_managed }}

description "Shadowsocks service"
author      "jcchen"

start on runlevel [2345]
stop on runlevel[016]

respawn
respawn limit 5 60 # respawn max 5 times in 60 seconds

# Essentially lets upstart know the process will detach itself to the background
# expect daemon # fork

# setuid ssuser
# setgid ssuser

script
    exec /usr/local/bin/ssserver {% if shadowsocks_enable_manager_address | bool %}--manager-address {{ shadowsocks_manager_address }}{% endif %} -c /etc/shadowsocks.json >/var/log/ssserver.log 2>&1
end script