[Unit]
Description=Daemon to start ssmgr webgui service
Wants=network-online.target
After=network.target

[Service]
User=shadowsocks
Group=shadowsocks
Type=simple
ExecStart=/usr/bin/ssmgr -c webgui.yml
Restart=on-abort

[Install]
WantedBy=multi-user.target
